<ion-header>
  <ion-toolbar>
    <ion-title>
      Cantina da tina
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>Limpar</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteudo">

    <div class="linha">
      <div class="produto">Hotdog</div>
      <div class="mostrador">
        <ion-button>-</ion-button>
        0
        <ion-button>+</ion-button>
      </div>
    </div>

    <div class="linha">
      <div class="produto">Coxinha</div>
      <div class="mostrador">
        <ion-button>-</ion-button>
        0
        <ion-button>+</ion-button>
      </div>
    </div>

    <div class="linha">
      <div class="produto">Bala</div>
      <div class="mostrador">
        <ion-button>-</ion-button>
        0
        <ion-button>+</ion-button>
      </div>
    </div>

    <div class="linha resultado">
      <div>Total</div>
      <div>R$ 0,00</div>
    </div>

  </div>
</ion-content>
