<ion-header>
  <ion-toolbar>
    <ion-title>
      Cantina da tina
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>Limpar</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteudo">

    <div class="linha">
      <div class="produto">Hotdog</div>
      <div class="mostrador">
        <ion-button (click)="removerHotdog()">-</ion-button>
        {{ quantidadeHotdog }}
        <ion-button (click)="adicionarHotdog()">+</ion-button>
      </div>
    </div>

    <div class="linha">
      <div class="produto">Coxinha</div>
      <div class="mostrador">
        <ion-button (click)="removerCoxinha()">-</ion-button>
        {{ quantidadeCoxinha }}
        <ion-button (click)="adicionarCoxinha()">+</ion-button>
      </div>
    </div>

    <div class="linha">
      <div class="produto">Bala</div>
      <div class="mostrador">
        <ion-button (click)="removerBala()">-</ion-button>
        {{ quantidadeBala }}
        <ion-button (click)="adicionarBala()">+</ion-button>
      </div>
    </div>

    <div class="linha resultado">
      <div>Total</div>
      <div>{{ totalConta | currency: 'BRL' }}</div>
    </div>

  </div>
</ion-content>
